# dependencies
node_modules/
backend/node_modules/
frontend/node_modules/

# env files
.env
.env.*

# build & coverage
/build
/coverage

# IDE
.vscode/
.DS_Store

# logs
*.log

# JSON files
compass-connections.json