PORT=5000
# Mostly use MongoDB Atlas for deployment, but you can also use local MongoDB if you prefer
MONGO_URI=YOUR_MONGO_URI
JWT_SECRET=YOUR_JWT_SECRET
ORIGIN_URI=YOUR_FRONTEND_ORIGIN_URI
# For Google Books API
GOOGLE_BOOKS_API_KEY=YOUR_GOOGLE_BOOKS_API_KEY
GOOGLE_BOOKS_BASE_URL=https://www.googleapis.com/books/v1/volumes
# For AWS deployment
STORAGE_TYPE=S3
S3_BUCKET_NAME=YOUR_S3_BUCKET_NAME