PORT=5000
# local: mongodb://localhost:27017/test
MONGO_URI=mongodb://mongo:27017
JWT_SECRET=YOUR_JWT_SECRET_HERE
ORIGIN_URI=http://localhost:3000
BACKEND_BASE_URL=http://localhost:5000
# Set your storage type (e.g. S3, LOCAL)
STORAGE_TYPE=YOUR_STORAGE_TYPE
# For Google Books API
GOOGLE_BOOKS_API_KEY=YOUR_GOOGLE_BOOKS_API_KEY
GOOGLE_BOOKS_BASE_URL=https://www.googleapis.com/books/v1/volumes
